
Main Method Submission/Main Method Submission.sln
Main Method Submission/.vs/Main Method Submission/DesignTimeBuild/.dtbcache.v2
Main Method Submission/Main Method Submission/Program.cs
Main Method Submission/Main Method Submission/obj/project.nuget.cache
Main Method Submission/Main Method Submission/obj/project.assets.json
Main Method Submission/Main Method Submission/obj/Main Method Submission.csproj.nuget.g.targets
Main Method Submission/Main Method Submission/obj/Main Method Submission.csproj.nuget.g.props
Main Method Submission/Main Method Submission/obj/Debug/netcoreapp3.1/Main Method Submission.GeneratedMSBuildEditorConfig.editorconfig
Main Method Submission/Main Method Submission/obj/Debug/netcoreapp3.1/Main Method Submission.csproj.AssemblyReference.cache
Main Method Submission/Main Method Submission/obj/Debug/netcoreapp3.1/Main Method Submission.assets.cache
Main Method Submission/Main Method Submission/obj/Main Method Submission.csproj.nuget.dgspec.json
Main Method Submission/Main Method Submission/obj/Debug/netcoreapp3.1/Main Method Submission.AssemblyInfo.cs
Main Method Submission/Main Method Submission/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Main Method Submission/Main Method Submission/multiplyClass.cs
Main Method Submission/Main Method Submission/obj/Debug/netcoreapp3.1/Main Method Submission.AssemblyInfoInputs.cache
Main Method Submission/Main Method Submission/Main Method Submission.csproj
Main Method Submission/.vs/Main Method Submission/v16/.suo
